/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-10, 11:33:35
    Author     : JinCityKasto
*/

body{
    padding: 0px;
    margin: 0px;
}


